{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load humanize %}
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'cart/css/cart.css' %}">
    <link rel="stylesheet" href="{% static 'cart/css/list.bundle.css' %}">
    <script src="{% static 'cart/js/cart.js' %}"></script>
</head>

<div class="tit_page">
    <h2 class="tit">장바구니</h2>
</div>

<div id="cartItemList" class="only_pc" style="min-height: 602px;">
    <div class="">
        <div class="cart_item">
            <div class="cart_select">
                <div class="inner_select">
                    <a href="{% url 'cart:cart_clear' %}" class="btn_delete">전체삭제</a>
                </div>
            </div>

            <div class="box cold">
                <div class="tit_box">
                    <h4 class="tit">
                        <span class="inner_tit">상품 목록</span>
                    </h4>
                    <button type="button" id='btn_dropup' class="btn_dropup" onclick="dropup()">접기 / 펼치기</button>
                </div>

                <ul class="list" id='dropup_list'>
                    {% for cart_item in cart_items %}
                        <li>
                            <div class="item">
                                <div class="name">
                                    <div class="inner_name">
                                        <a href="#" class="package">{{ cart_item.product.name }}</a>
                                        <div class="info"></div>
                                    </div>
                                    <div class="goods">
                                        <a href="#" class="thumb"
                                            style="background-image: url({{ cart_item.product.image.url }});">
                                            상품이미지
                                        </a>
                                        <div class="price">
                                            <div class="in_price">
                                                <span class="selling">{{ cart_item.sub_total | intcomma }}
                                                    <span class="won">원</span>
                                                </span>
                                            </div>
                                            <!-- 수량 조정 부분 -->
                                            <form action="{% url 'cart:update_cart_item' cart_item.cart_item_id %}" method="POST" data-cart-item-id="{{ cart_item.cart_item_id }}">
                                                {% csrf_token %}
                                                <div class="stamper count">
                                                    <a href="{% url 'cart:decrease_product' cart_item.cart_item_id %}" class="btn minus off">감소</a>
                                                    <input type="number" name="quantity" class="num" value="{{ cart_item.quantity }}" min="1" data-cart-item-id="{{ cart_item.cart_item_id }}">
                                                    <a href="{% url 'cart:add_product' cart_item.cart_item_id %}" class="btn plus">추가</a>
                                                </div>
                                                <button type="submit" class="btn btn-primary">수량 업데이트</button>
                                            </form>
                                        </div>
                                    </div>
                                    <!-- 상품 삭제 -->
                                    <a href="{% url 'cart:delete_product' cart_item.cart_item_id %}" class="btn delete">상품 삭제</a>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <!-- 가격 및 배송비 계산 -->
        <div class="cart_result">
            <div class="inner_result" style="top: 60px;">
                <div class="cart_delivery">
                    <h3 class="tit">배송지</h3>
                    <div class="address">
                        <p class="addr">인천 연수구 909호</p>
                        <span class="delivery star">샛별배송</span>
                        <a href="{% url 'cart:ship_destination' %}" class="btn default">배송지 변경</a>
                    </div>
                </div>

                <div class="amount_view">
                    <dl class="amount">
                        <dt class="tit">상품금액</dt>
                        <dd class="price">
                            <span class="num total_price">{{ total_price | intcomma }}</span>
                            <span class="won">원</span>
                        </dd>
                    </dl>
                    <dl class="amount">
                        <dt class="tit">배송비</dt>
                        <dd class="price">
                            <span class="num shipping_fee">{{ shipping_fee | intcomma }}</span>
                            <span class="won">원</span>
                        </dd>
                    </dl>
                    <dl class="amount lst">
                        <dt class="tit">결제예정금액</dt>
                        <dd class="price">
                            <span class="num final_price">{{ final_price | intcomma }}</span>
                            <span class="won">원</span>
                        </dd>
                    </dl>
                </div>

                <div class="reserve">
                    <span class="bage">적립</span> 구매 시
                    <span class="emph">325원 적립</span>
                </div>
            </div>

            <div class="btn_submit">
                <form action="{% url 'order:create_order' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn active">주문하기</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
