<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Reset Email</title>
</head>
<body>
    <p>Hello,</p>
    <p>You're receiving this email because you requested a password reset for your account.</p>
    <p>Click the link below to reset your password:</p>
    <p><a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">Reset my password</a></p>
    <p>If you didn't request this, you can safely ignore this email.</p>
</body>
</html>