/* styles.css */
.container {
    width: 90%;
    margin: 0 auto;
}

.cart-section {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.cart-items {
    width: 65%;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
}

.cart-items ul {
    list-style-type: none;
    padding: 0;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.item-info {
    display: flex;
    align-items: center;
}

.product-image {
    width: 80px;
    margin-right: 20px;
}

.item-details {
    font-size: 16px;
}

.item-actions {
    display: flex;
    align-items: center;
}

.item-actions form {
    margin-left: 10px;
}

.order-summary {
    width: 30%;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
}

.order-summary h2 {
    font-size: 20px;
}

.order-summary p {
    font-size: 16px;
    margin-bottom: 10px;
}

.checkout-btn {
    width: 100%;
    padding: 15px;
    background-color: #5f0080;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
