<!DOCTYPE html>                       <!--홈 페이지 -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <!-- 오른쪽 상단에 로그인 및 회원가입 버튼 추가 -->
    <div class="top-right-buttons">
        <a href="{% url 'login' %}">
            <button>로그인</button>
        </a>
        <a href="{% url 'signup' %}">
            <button>회원가입</button>
        </a>
    </div>
    <h1>환영합니다!</h1>
    <p>이곳은 홈 페이지입니다.</p>
</body>
</html>