{% extends 'base.html' %}

{% block title %}홈 페이지{% endblock %}

{% block content %}
    <h1>상품 목록</h1>
    <div class="product-list">
        {% for product in products %}
            <div class="product-item">
                <img src="{{ product.image.url }}" alt="{{ product.name }}" style="width: 200px; height: 200px;">
                <h2>{{ product.name }}</h2>
                <p>{{ product.description }}</p>
                <p>가격: {{ product.price }} 원</p>
            </div>
        {% empty %}
            <p>등록된 상품이 없습니다.</p>
        {% endfor %}
    </div>
{% endblock %}
