<!-- templates/orders/order_list.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order List</title>
</head>
<body>
  <h1>Order List</h1>
  <ul>
      {% for order in orders %}
      <li>
          <a href="{% url 'order:order_detail' order.id %}">
              주문 ID: {{ order.id }} | 고객: {{ order.user.username }} | 상태: {{ order.status }}
          </a>
      </li>
      {% empty %}
      <li>주문 내역이 없습니다.</li>
      {% endfor %}
  </ul>
</body>
</html>