<!DOCTYPE html>                               <!--재설정을 요청하는 페이지 , 비밀번호 재설정 이메일을 받기 위한 폼-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 찾기</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h2>비밀번호 찾기</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">비밀번호 찾기</button>
    </form>
    <hr>
    <h2>아이디 찾기</h2>
    <a href="{% url 'find_username' %}" class="btn btn-secondary">아이디 찾기</a>
</div>
</body>
</html>